@inherits ProfitCalculatorComponent
@page "/profit"

<div class="w-75">
    <div class="row">
        <label for="BoughtItem">Bought Item</label>
        <input type="text" class="form-control" id="BoughtItem" @bind="BoughtItemTitle" />
    </div>
    <div class="row">
        <label for="PriceBoughtItem">Price</label>
        <input type="number" class="form-control" id="PriceBoughtItem" @bind="BoughtItemPrice" />
    </div>
    <div class="row">
        <label for="QuantityBoughtItem">Quantity</label>
        <input type="number" class="form-control" id="QuantityBoughtItem" @bind="QuantityBoughtItem" />
    </div>
    <div class="row">
        <label for="ItemCost">Currency Type</label>
        <select @bind="ItemCost" id="ItemCost" class="form-select">
            @foreach (var item in Enum.GetValues(typeof(ItemCost)))
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <button class="btn btn-primary mt-3" @onclick="() => AddToBoughtItems()">Add</button>
</div>